* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --BORDERCOLOR: rgb(87, 87, 87);
}

body>img {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;

}

.header {
    box-sizing: border-box;
    border-bottom: 5px double var(--BORDERCOLOR);
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    justify-items: center;
    display: flex;
    flex-basis: 32%;
    padding: 20px;
    /* border-bottom: 3px double white; */
    position: fixed;
    top: 0;
    background: rgba(56, 34, 34, 0.932);
    z-index: 1;
}

.header::before {
    content: '';
    opacity: 1;
    background: linear-gradient(90deg, red, green, blue);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.logo {
    color: white;
    cursor: pointer;
}

.logo>p {
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(0, 255, 221);
}

.logo>span {
    position: absolute;
    left: 110px;
    top: 63px;
    font-size: small;
    text-shadow: 0px 0px 10px rgb(0, 255, 221);
}

/* menu section in header */
.menu {
    flex: 1;
    text-align: right;
}

.menu>ul>li {
    padding-top: 13px;
    list-style: none;
    display: inline-block;
}

.menu>ul>li>a {
    text-decoration: none;
    padding: 12px 15px;
    color: white;
    font-size: 18px;
}

.menu>ul>li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: aqua;
    display: block;
    transition: 0.5s;
    margin: auto;
}

.menu>ul>li:hover::after {
    width: 100%;
}

.header>div>.fa {
    display: none;
}

/* media Query for moblie view */
@media (max-width:700px) {
    .menu>ul>li {
        display: block;
        border-bottom: 1px solid gray;

    }

    .menu>ul>li:last-child {
        border: none;
    }

    .menu>ul {
        padding-top: 30px;
    }



    .menu>ul>li::after {
        margin-left: 8px;
    }

    .menu>ul>li:hover::after {
        width: 60%;
    }

    .menu {
        position: absolute;
        /* background: rgba(67, 236, 166, 0.822); */
        background: linear-gradient(rgba(255, 0, 0, 0.664), rgba(67, 236, 166, 0.822), rgba(67, 236, 166, 0.822), rgba(67, 236, 166, 0.822), rgba(255, 51, 0, 0.884));

        height: 100vh;
        width: 0px;
        top: 0;
        right: 0;
        z-index: 2;
        text-align: left;
        transition: 1s;
    }

    .header>div>.fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.content {
    position: absolute;
    top: 15vh;
    display: flex;
    width: 100%;
    height: auto;
}


.side_bar {
    width: 25%;
    height: 80vh;
    position: fixed;
    box-sizing: border-box;
}

.names {
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    overflow: scroll;
}

.names>p {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.329);
    border: 1px solid white;
    margin-top: 5px;
}

.names>p>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: block;
    padding-left: 5px;
}

/* rest of the secton part */
.book_pdf {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    right: 0;
    padding-bottom: 15vh;



}

.sec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}

.head {
    width: 100%;
    height: 8vh;
    background-color: rgba(206, 203, 203, 0.644);
    text-align: left;
    padding-left: 8px;
    padding-top: 10px;
    box-sizing: border-box;



}

.head>p {
    font-size: 20px;

}

.mainbox {
    width: 200px;
    height: 250px;
    border: 1px solid red;
    box-sizing: border-box;
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 20px;
    border: 1px solid rgb(252, 252, 252);
    box-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.box {
    width: 100%;
    height: 180px;
    border-bottom: 3px solid gray;
    box-sizing: border-box;
    overflow: hidden;
}

.photo>img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;

}

.photo>img:hover {
    scale: 1.2;
}

.pdf {
    background-color: gray;
    padding: auto;
    transition: 0.7s;
    text-align: center;
    margin: auto;
}

.pdf>a {
    text-decoration: none;
   
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    transition: 0.7s;
    background: transparent;

}

.pdf:hover {
    background: rgb(255, 208, 154);
}

.pdf:hover a {
    color: rgb(71, 145, 255);
    font-size: 18px;
}

p {
    color: black;
    font-weight: 600;
}

.footer {
    height: 13vh;
    width: 75%;
    /* border: 1px solid red; */
    background-color: rgb(106, 183, 245);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    position: fixed;
}

@media (max-width:700px) {
    .book_pdf {
        width: 70%;
    }

    .side_bar {
        width: 30%;
    }

    .names>p {
        width: calc(100% + 25%);
    }

    .footer {
        height: 13vh;
        width: 70%;

    }

}