* {
    margin: 0;
    padding: 0;

}

body {
    justify-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(photocopy/book\ liberary.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
}

/* to chane if you need */
fieldset {
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    /* border: non; */
    width: 500px;
    height: 670px;
    box-shadow: 0px 0px 20px white;
    background: rgba(14, 11, 11, 0.651);
    border-radius: 20px;
}



div>input {
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    width: 350px;
    border: 1px solid orangered;
    border-radius: 5px;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.5)50%);
    box-shadow: 0px 0px 20px orangered;
font-size: 18px;
padding-left: 8px;
color: white;
 
}
div>input:focus{
    outline: none;
    color: white;
}
div>label{
    font-size: 20px;
    font-weight: bolder;
}
.red {
    background-color: rgba(0, 0, 0,0.7);
    display: block;
    text-align: center;
    justify-content: center;
    justify-items: center;
    height: 40px;
    border-radius: 5px;
   color: rgb(124, 122, 122);
   padding-top: 10px;
   border: 1px solid orangered;
   box-sizing: border-box;
   font-size: 18px;
   box-shadow: 0px 0px 20px orangered;

}
.label{
    font-size: 20px;
    font-weight: bolder;
}
.submit{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: orangered;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid black;
    box-shadow: 0px 0px 20px black;
    transition: 0,5s;
}
.submit:hover{
    background: white;
}

